{% for product in products %}
        <section>
            <h2 class="" >PRODUITS :</h2>
            <<h2><a href="{{ path("product_by_id", {idProduct: product.id}) }}">{{ product.title }} </a></h2>
            <p>{{ product.title }}</p>
            <p>{{ product.price }}</p>
            <p>{{ product.price_reduction }}</p>


        </section>
{% endfor %}