<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
        <header>
            <nav class="nav_bar">
                <ul class="ul_nav_bar">
                    <li class="taille_logo">
                        <a href="{{ path("home") }}"><img class="img_logo" src="https://jolstatic.fr/www/captures/1951/6/58356.png" alt=""></a>
                    </li>
                    <li><a href="{{ path("home") }}">Acceuil</a></li>
                    <li><a href="{{ path("list_pokemones") }}">liste des pokémones</a></li>
                    <li><a href="{{ path("list_categories_pokemones") }}">catégories des pokémones</a></li>
                </ul>
            </nav>
        </header>

            {% block main %}

            {% endblock %}

        <footer class="flex">
        <nav >
            <ul>
                <li>CONTACT</li>
                <li><a href=""></a>insta</li>
                <li><a href=""></a>face</li>
                <li class="border_end" ><a href=""></a>twitter</li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li>AIDE & CONSEIL</li>
                <li>Lorem ipsum </li>
                <li>Lorem ipsum</li>
                <li class="border_end">Lorem ipsum</li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li>NOS ANNONCE</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li class="border_end">Lorem ipsum</li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li>A PROPOS</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
            </ul>
        </nav>
        </footer>

</html>
